*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(16, 19, 19);
    background-color: blanchedalmond;
}
body{
    margin-top: 0;
}

.logo-titulo{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    width: 25vw;
    height: 10vh;
    margin-right: 10px;
}

#navegadorPrincipal{
    padding: 0vw 25vh;
}

nav a{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
     
    background-color: rgb(196, 178, 18)
}

nav a:hover{
    color:whitesmoke;
}
header{
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 10px 10px;
    border: 20px 20 solid black;
    background-color: rgb(196, 178, 18);
    border-color: rgb(94, 118, 197);
    align-items: center;
}
section{
    margin-top: 20px;
    padding: 0px 50px;
    border: 20px double black;
    background-color: beige;
    border-color: black;
}

img{
    padding: 10px 10px 10px 10px ;
}
.header-inicial{
    align-items: center;
    display: flex;
}
.carousel-item{
    display: flex;
    justify-content: center;
}

.carrusel-Compas{
    padding-bottom: 80px;
    padding-top: 80px;
}
.texto-Slide{
    box-shadow: 2px 2px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: whitesmoke ;
}
.imagenDeSlide{
    padding-left: 35vw;
    padding-bottom: 120px;
}
.carrusel-Compas img{
    height: 500px;
}
.notas-En-Piano{
    max-width: 700px;
    height: 200px;
}
.grid-container{
    
    display: grid;
    grid-template-columns: 270px 270px;
    grid-template-rows: 350px 350px;
    column-gap: 70px;
    row-gap: 70px;

}

.grid-item{
    border: 2px black solid;
    border-radius: 40px;
    box-shadow:8px 8px;
}
.imagennav{
    width: 200px; 
  height: 150px; 
}

@media only screen and (max-width:480px){
    /* Pagina de Index */
    header{
        background-color: whitesmoke;
    }
    .headerindex{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        height: 25vh;
        width: 240px;
        margin-left:120px;
        text-align: center;
    }
    h1{
        white-space: nowrap;
        overflow: visible;
        font-size:large;
      }
    .grid-container{
        background-color: aliceblue;
    
        width: 273px;
        display: flex;
        flex-direction: column;
    }
    .grid-item{
        text-align: center;
        width: 350px;
    }
    .Notas{
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        width: 480px
    }
    .notas-En-Piano{
        width: 459px;

    }

    /* Pagina de Significado de figuras */
    .headerdefiguras{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .navdefiguras{
        white-space: nowrap;
        margin-top: 20px;
        font-size: 9px;
        
    }

}