*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(16, 19, 19);
    background-color: blanchedalmond;
}
.logo{
    width: 25vw;
    height: 10vh;
}

#navegadorPrincipal{
    padding: 0vw 25vh;
}
header{
    padding: 10px 10px;
    border: 20px 20 solid black;
    background-color: rgb(196, 178, 18);
    border-color: rgb(94, 118, 197)

}
section{
    margin-top: 20px;
    padding: 0px 50px;
    border: 20px double black;
    background-color: beige;
    border-color: black;
}

img{
    padding: 10px 10px 10px 10px ;
}