@import "../base/variables";
img{
    padding: 10px 10px 10px 10px ;
}
.notas-En-Piano{
    max-width: $container-and-img-width ;
    height: 200px;
}
.Notas{
    @media only screen and (max-width:480px){
        background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 480px
    }
}
.notas-En-Piano{
    @media only screen and (max-width:480px){
    max-width: $container-and-img-width;
    }

}




.contenedorDeimagenes{
    max-width: $container-and-img-width;
    height: auto;
    img{
        max-width: $container-and-img-width;
    height: auto;

    }

}



