%headerextend{
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 10px 10px;
    border: 20px 20 solid black;
    background-color: rgb(196, 178, 18);
    border-color: rgb(94, 118, 197);
    align-items: center;
}

%sectionextend{
    margin-top: 20px;
    padding: 0px 50px;
    border: 20px double black;
    background-color: beige;
    border-color: black;
}